#stats-ticker {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(21, 21, 21);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    z-index: 30;
    /* Account for mobile browser UI */
    padding-top: env(safe-area-inset-top);
}

.ticker-main {
    display: flex;
    align-items: center;
    height: 28px;
    padding-right: 16px;
}

.ticker-main a:hover {
    text-decoration: underline;
}

.live-indicator {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #ff453a;
    font-size: 0.9em;
    margin-right: 14px;
    padding: 0px min(3%, 16px);
    background: rgba(21, 21, 21);
    backdrop-filter: blur(10px);
    z-index: 5;
}

.pulse-dot {
    width: 8px;
    height: 8px;
    background: #ff453a;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.ticker-stats,
.ticker-scroll {
    display: flex;
    gap: 28px;
    width: 1350px;
    flex-shrink: 0;
}

.stat-item {
    display: flex;
    align-items: baseline;
    gap: 6px;
    font-size: 0.9em;
    color: white;
    flex-shrink: 0;
}

.label {
    opacity: 0.8;
    flex-shrink: 0;
    display: inline-block;
    font-size: 0.8em;
}

.subtext {
    font-size: 0.75em;
    opacity: 0.6;
    flex-shrink: 0;
    display: inline-block;
}

.value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 190px;
}

/* Hide second scroll ticker text by default */
.ticker-scroll {
    display: none;
}

/* Scroll when screen width too small */
@media (max-width: 1250px) {
    .ticker-stats {
        animation: ticker-scroll1 45s linear infinite;
    }

    .ticker-scroll {
        display: flex;
        animation: ticker-scroll2 45s linear infinite;
    }

    .ticker-main:hover .ticker-scroll,
    .ticker-main:hover .ticker-stats {
        animation-play-state: paused;
    }
}

@keyframes ticker-scroll1 {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-1350px);
    }

    50.000001% {
        transform: translateX(1350px);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes ticker-scroll2 {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-2700px);
    }
}

#buttons {
    position: absolute;
    border: none;
    background: rgba(21, 21, 21);
    display: flex;
    gap: 12px;
    right: 0;
    top: 0;
    padding: 2.5px min(3%, 12px) 0 14px;
}

.toggle {
    display: block;
    background: inherit;
    border: 0;
    padding: 0;
    cursor: pointer;
}

@media (pointer: coarse) {
    #ticker-sound-toggle {
        display: none;
    }
}

#ticker-sound-toggle img {
    width: 18px;
    height: 18px;
}

#ticker-sound-toggle,
#charts-toggle {
    position: relative;
}

/* Tooltip */
#charts-toggle:after {
    content: 'See weekly charts';
    top: calc(100% + 8px);
}

/* Tooltip */
#ticker-sound-toggle:after {
    content: 'Listen along with friends';
    top: calc(100% + 8px);
}

/* Tooltip styling */
#charts-toggle:after,
#ticker-sound-toggle:after {
    position: absolute;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    padding: 8px 12px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 0.9rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: default;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

/* Arrow pointer on tooltip */
#charts-toggle:before,
#ticker-sound-toggle:before {
    content: "";
    position: absolute;
    top: calc(100% + 4px);
    right: 5px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.9) transparent;
    cursor: default;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

/* Tooltip */
#mobile-toggle:after {
    content: 'Listen along with friends';
    position: absolute;
    bottom: calc(100% + 10px);
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    padding: 8px 12px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 0.9rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: default;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

/* Arrow pointer on tooltip */
#mobile-toggle:before {
    content: "";
    position: absolute;
    bottom: calc(100% + 6px);
    right: 23px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
    cursor: default;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

#charts-toggle.tooltip:before,
#charts-toggle.tooltip:after,
#ticker-sound-toggle.tooltip:before,
#ticker-sound-toggle.tooltip:after,
#mobile-toggle.tooltip:before,
#mobile-toggle.tooltip:after {
    opacity: 1;
}

#charts-toggle.done:before,
#charts-toggle.done:after,
#ticker-sound-toggle.done:before,
#ticker-sound-toggle.done:after,
#mobile-toggle.done:before,
#mobile-toggle.done:after {
    display: none;
}

#charts-toggle img {
    width: 22px;
    height: 22px;
}

.sound img {
    display: none;
}

.ticker-main .toggle:hover>img {
    transition: filter 0.3s ease;
    filter: brightness(1.5);
}

.toggle .sound-on {
    display: block;
}

.muted .sound-off {
    display: block;
}

.muted .sound-on {
    display: none;
}

#mobile-toggle {
    display: none;
    position: fixed;
    top: calc(env(safe-area-inset-top) + 84%);
    right: 12px;
    z-index: 19;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06),
        inset 0 2px 4px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

@media (pointer: coarse) {
    #mobile-toggle {
        display: block;
    }
}

#mobile-toggle img {
    width: 55%;
    height: 55%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    filter: brightness(40%);
}