html {
    overflow: hidden;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.input-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.background {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(120px, 20%), 1fr));
    width: 100%;
    filter: brightness(0.7); 
}

.block {
    aspect-ratio: 1;
    background-size: cover;
}

h1 {
    color: #4fa3d1;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 15px;
}

h5 {
    color: #555;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}

p {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.bottom {
    display: flex;
    gap: 8px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#userInput {
    padding: 0.75rem;
    font-size: 1rem;
    width: 250px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

#userInput:focus {
    border-color: #007bff;
}

button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 0.5rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.github-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 25%;
    font-size: 2rem;
    text-decoration: none;
    transition: filter 0.3s ease;
    background-color: rgba(256, 256, 256);
    z-index: 1;
}

.github-icon > img {
    width: 40px;
    height: 40px;
}

.github-icon:hover > img {
    transition: filter 0.3s ease;
    filter: brightness(3); 
}