body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    min-height: 100vh;
}

#block-container {
    display: flex;
    flex-flow: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.block {
    flex: 0 1 20%;
    display: flex;
    flex-flow: column;
    min-width: 200px;
    aspect-ratio: 1 / 1;
    background-size: cover;
}

.user-info {
    display: flex;
    flex-flow: row;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottom {
    display: flex;
    flex-flow: row;
    margin-top: auto;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;

}

.song-info {
    display: flex;
    flex-flow: column;
}

.playing-icon {
    width: 30px;
    height: 30px;
    display: none;
}

.status {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0px;
    padding-right: 15px;
}

.time {
    display: none;
    min-width: 50px;
}

[data-now-playing="true"] .playing-icon {
    display: block;
}

[data-now-playing="false"] .time {
    display: block;
}