body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    min-height: 100vh;
}

#block-container {
    display: flex;
    flex-flow: row;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

#pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.block {
    display: flex;
    flex-flow: column;
    width: 300px;
    height: 300px;
    background-size: cover;
}

.user-info {
    display: flex;
    flex-flow: row;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

.bottom {
    display: flex;
    flex-flow: row;
    margin-top: auto;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;

}

.song-info {
    display: flex;
    flex-flow: column;
}

.playing-icon {
    width: 30px;
    height: 30px;
    visibility: hidden;
}

.time {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    min-width: 50px;
}

[data-now-playing="true"] .playing-icon {
    visibility: visible;
}

[data-now-playing="false"] .time {
    visibility: visible;
}