body {
    font-family: Arial;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: underline;
  }  

#block-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    width: 100%;
}

.block {
    aspect-ratio: 1;
    position: relative;
    background-size: cover;
}

.user-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

#pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.track-info {
    display: flex;
    flex-flow: column;
    gap: 2px;
}

.artist-title {
    font-weight: bold;
}

.playing-icon {
    width: 30px;
    height: 30px;
    display: none;
}

.status {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.time {
    display: none;
    min-width: 60px;
    text-align: right;
}

.hidden {
    display: none;
}

[data-now-playing="true"] .playing-icon {
    display: block;
}

[data-now-playing="false"] .time {
    display: block;
}